@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --body-color: #FBFBFB;
    --primary-color-green: #00BF71;
    --primary-color-orange:#FE7A36;
    --soft-green: #00bf6f13;
    --primary-color-red: #DB4437;
    --primary-color-light: #FFFFFF;
    --stroke-color: #EDEDED;
    --shadow-color: rgba(0, 0, 0, 0.096);
    --text-color: #4B4B4B;
    --inner-text: #a1a1a1;
    --dark-green: #009c5b9a;

    /* transition */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--body-color);
    height: 100vh;
}

a {
    text-decoration: none;
}
.container .light{
    color: var(--primary-color-light);
    font-weight: 300;
}
.m-top{
    margin-top: 20px;
}

header {
    text-align: center;
    padding: 20px 0px;
    border: 1px solid var(--primary-color-green);
    border-radius: 5px;
    background-color: var(--soft-green);
    box-shadow: 0 2px 9px var(--soft-green);
}

@media screen and (max-width: 448px) {
    header {
        font-size: 3vw;
        padding: 20px;
    }
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--body-color);
}

.wrapper {
    background-color: var(--primary-color-light);
    width: 50%;
    padding: 20px;
}

.current-balance {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 300;
}

.highlight {
    font-weight: 600;
}

.text{
    font-size: 13px;
    color: var(--text-color);
}

.icon {
    color: var(--primary-color-green);
    font-size: 20px;
    margin-right: 5px;
}

.rounded {
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: inset 0 2px 4px var(--shadow-color);
    font-size: 13px;
}

.information {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.flow .text,
.flow .highlight {
    font-weight: 300;
}
.flow{
    display: flex;
    flex-direction: column;
}
.in {
    color: var(--primary-color-green);
}

.out {
    color: var(--primary-color-red);
}

.new-note {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
    gap: 20px;
}

.new-note a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 2px 4px var(--shadow-color);
    font-weight: 600;
}

.menu {
    padding: 20px;
    box-shadow: 0 2px 4px var(--shadow-color);
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu i {
    padding: 15px;
    border-radius: 3px;
    font-size: 20px;
    color: var(--primary-color-green);
    box-shadow: 0 2px 4px var(--shadow-color);
}

.menu span {
    color: var(--text-color);
    font-size: 13px;
}

@media screen and (max-width: 850px) {
    .wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
    }
}

.wrapper .container {
    padding: 10px;
}

.data {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--body-color);
    padding: 10px;
}

.row-data {
    background-color: var(--primary-color-light);
    box-shadow: 0 2px 4px var(--shadow-color);
    padding: 20px;
    border-radius: 5px;
}

.green {
    color: var(--primary-color-green);
}

.red {
    color: var(--primary-color-red);
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.mid-row {
    padding: 10px 0px;
}

.mid-row .highlight {
    margin-right: 5px;
}

.row-data .desc {
    border-bottom: 1px solid var(--stroke-color);
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.action {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.action a {
    color: var(--text-color);
}

.container-form {
    padding: 0;
}

.container-form form {
    padding: 20px;
    border: 1px solid var(--stroke-color);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.simple-form form{
    border: none;
    margin: 0;
    border-radius: 0;
    background-color: var(--primary-color-green);
    gap: 0px;
}
.simple-form h2{
    color: var(--primary-color-light);
}
.simple-form input{
    background-color: var(--primary-color-light);
    border-radius: 30px;
    box-shadow: 0 2px 4px var(--shadow-color);
}
.simple-form .text{
    margin-top: -2px;
}

.simple-form .button-submit button{
    font-size: 20px;
    background-color: red;
    border-radius: 50px;
    display: flex;
    padding: 5px;
    align-items: center;
    color: var(--primary-color-light);
    background-color: var(--primary-color-orange);
}
label {
    font-size: 13px;
}

input,
select,
textarea {
    font-family: 'poppins';
    border: none;
    border-bottom: 1px solid var(--primary-color-green);
    padding: 10px;
    background-color: var(--soft-green);
}

textarea {
    resize: vertical;
    height: 40px;
    transition: var(--tran-03);
}
textarea:focus{
    height: 50px;
}
input,
select,
textarea:focus{
    outline: none;
}
.button-submit{
    width: 100%;
    display: flex;
    justify-content: end;
}
.button-submit button{
    padding: 10px;
    border: none;
    background-color: var(--primary-color-green);
    color: var(--primary-color-light);
    font-size: 15px;
    border-radius: 5px;
    font-size: 12px;
}

h2 {
    text-align: start;
    color: var(--text-color);
    margin: 5px;
}


option{
   display: flex;
   flex-direction: column;
   align-items: center;
}

#pemasukan_id,
#pengeluaran_id {
    margin: 0;
}

.radio-button {
    background-color: var(--dark-green);
    font-weight: 700;
    color: var(--primary-color-light);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px 20px;
}

.cover-radio-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.checked {
    background-color: var(--primary-color-orange);
    transition: var(--tran-03);
    box-shadow: 0 2px 4px var(--shadow-color);
    transform: scale(1.1,1.1);
}

.button-back {
    margin: 0;
    align-content: center;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    background-color: var(--stroke-color);
    color: var(--inner-text);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-form{
    background-color: var(--body-color);
    padding: 10px;
}
.store-container{
    padding: 10px;
    margin: 10px;
    background-color: var(--body-color);        
}